<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Day poigrat</title>
</head>
<body>
<h1 style="text-align:center;">Ne zhmotis, day poigrat v svoyom pk, pozhaluysta.</h1>
<h2 style="text-align:center;">
<a href="http://nahuy.com/">Esli net, nagmi suda</a>
</h2>
</body>
</html>